<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/5-tip_pri.css" />

    <title>Tipo Privacidad</title>
  </head>
  <body>
    <body>
      <div class="contenedor-tarjeta">
        <div class="cabecera-logo">
             <img src="../IMAGENES/logo.png.png" alt="" class="logo-imagen" />
        </div>

        <div class="contenido-principal">
          <div class="titulo-solicitud fw-bold text-uppercase">
            Tipo Privacidad
          </div>

          <div class="rejilla-botones">
            <button
              class="boton-accion"
              onclick="window.location.href='5.1-tip_pri_agregar.html'"
            >
              Agregar
            </button>
            <button
              class="boton-accion"
              onclick="window.location.href='5.2-tip_pri_listar.html'"
            >
              Listar
            </button>
            <button
              class="boton-volver"
              onclick="window.location.href='2-seguridad.html'"
            >
              Volver
            </button>
          </div>
        </div>
      </div>
      <script src=""></script>
    </body>
  </body>
</html>
